<!DOCTYPE html>
<html data-ng-app="clipApp" ng-csp>

<head>
    <title>Clipboard</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
</head>

<body>

    <div id="login-container">
        
        <div id="username-container" class="input-container">
            <input id="username" type="text" />
        </div>
        
        <div id="password-container" class="input-container">
            <input id="password" type="password" />
        </div>

        <div id="login-button-container">
            <button id="register-submit" class="login-button">Register</button>
            <button id="login-submit" class="login-button">Login</button>
        </div>

    </div>

    <div id="copy-list-container">
        
        <div ng-controller="mainDirectory">

            <div id="snippet-container-{{$index}}" class="snippet-container input-container" ng-repeat="snippet in snippets">
                <input type="text">
                <div class="copy-button" id="copy-{{$index}}" ng-click="button($index)">copy</div>
            </div>

        </div>

    </div>
    <script src="angular.js"></script>
    <script src="app.js"></script>

    <script src="jquery.js"></script>
    <script src='firebase.js'></script>
    <script src="simple_login.js"></script>
    <!-- <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
    <script src="https://cdn.firebase.com/js/simple-login/1.6.3/firebase-simple-login.js"></script> -->
    <script src="main.js"></script>
</body>

</html>