<!DOCTYPE html>
<html data-ng-app="clipApp" ng-csp>

<head>
    <title>Clipboard</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
</head>

<body>
    <div>
        <div ng-controller="mainDirectory">

        <div id="snippet-container-{{$index}}" class="snippet-container" ng-repeat="snippet in snippets">
            <input type="text">
            <div class="copy-button" id="copy-{{$index}}" ng-click="button($index)">copy</div>
        </div>

        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script src="app.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src='firebase.js'></script>
    <script src="simple_login.js"></script>
    <!-- <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
    <script src="https://cdn.firebase.com/js/simple-login/1.6.3/firebase-simple-login.js"></script> -->
    <script src="main.js"></script>
</body>

</html>