body{
    width:200px;    
}
::selection {
    background: orange;
}
div{
    overflow:auto;
}
#copy-list-container{
    display:none;
}

input {
    background: gray;
    border: 0px;
    padding: 5px 10px;
    height: 25px;
    outline: none;
    color: #fff;
    float: left;
    width:180px;
    font-family: 'Lato', sans-serif;
    font-weight:300;
    font-size: 15px;
    letter-spacing: 0.4px;
}
.input-container{
    width: 200px;
    height: 35px;
    margin-top:5%;
}
.input-container:first-child{
    margin-top:0;
}
.snippet-container{
    width: 250px;
}
div.copy-button {
    font-family: 'Lato', sans-serif;
    position: relative;
    left: -50px;
    top: 5px;
    float: left;
    color: white;
    background: #0D98BA;
    padding: 1px 5px 5px;
    border-radius:5px;
    cursor:pointer;
    display:none;
    opacity:0.9;
    font-weight:300;
}

div#login-button-container{
    float:left;
    display:none;
    width:100%;
}
#password-container{
    margin-top:5%;
}

.login-button{
    font-family: 'Lato', sans-serif;
    float: left;
    color: white;
    background: #0D98BA;
    padding: 5px 5px;
    border-radius:5px;
    cursor:pointer;
    opacity:0.9;
    border: none;
    font-weight:300;
    outline: none;
    width:40%;
    margin:5% 5% 0 5%;
}
