/* GENERAL CSS */
body{
    width:250px;
}
::selection {
    background: orange;
}
div{
    overflow:auto;
}
.select{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    outline:none;
}
.overflow-container{
    width:400px;
    overflow-x:hidden;
}
.input-container{
    width: 200px;
    height: 35px;
    margin-top:5%;
}
.input-container:first-child{
    margin-top:0;
}
.snippet-container{
    width: 100%;
    position:relative;
    overflow: hidden;
}
input {
    background: gray;
    border: 0px;
    padding: 5px 10px;
    height: 25px;
    outline: none;
    color: #fff;
    float: left;
    width:230px;
    font-family: 'Lato', sans-serif;
    font-weight:300;
    font-size: 15px;
    letter-spacing: 0.4px;
}
.remove{
    background: orange;
    border: 0px;
    color: white;
    border-radius: 100px;
    position: absolute;
    top: 2px;
    margin-left: 5px;
    cursor:pointer;
}

/* FORM CSS */
form{
    margin-top:5%;
}
form input{
    border: 2px solid #0D98BA;
    width: 226px;
    background: #fff;
    color:gray;
}
form button{
    font-family: 'Lato', sans-serif;
    float: left;
    color: white;
    background: #0D98BA;
    padding: 5px 10px;
    border-radius:5px;
    cursor:pointer;
    font-weight:300;
    outline:none;
    border:0px;
    font-size:15px;
    margin:0;
    margin-top:5%;
}

/* CLIPBOARD CSS */
.hover-container {
    position: relative;
    top: 5px;
    left: -120px;
    float: left;
    width:120px;
}
div.copy-button, div.edit-button {
    font-family: 'Lato', sans-serif;
    float: left;
    color: white;
    background: #0D98BA;
    padding: 1px 5px 5px;
    border-radius:5px;
    cursor:pointer;
    opacity:0.9;
    font-weight:300;
    margin-left:5px;
}

#current-display{
    float: left;
    margin-top: 5%;
    padding: 4px;
    padding-top: 6px;
    margin-left: 10px;
    overflow: hidden;
    width: 129px;
    font-size: 10px;
    border: 1px solid gray;
    border-radius: 4px;
    height: 16px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color:#0D98BA;
}

div.hover-container.ng-enter,
div.hover-container.ng-leave,
div.hover-container.ng-move {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

/* ending enter and move styling
   (this is what the element will animate from */
div.hover-container.ng-enter,
div.hover-container.ng-move {
    opacity:0;
}

/* ending enter and move styling
   (this is what the element will animate towards */
div.hover-container.ng-enter.ng-enter-active,
div.hover-container.ng-move.ng-move-active {
    opacity:1;
}

/* starting leave animation */
div.hover-container.ng-leave {
    opacity:1;
}

/* ending leave animation */
div.hover-container.ng-leave.ng-leave-active {
    opacity:0;
}
