/* GENERAL CSS */
body{
    width:250px;
}
::selection {
    background: orange;
}
div{
    overflow:auto;
}
.overflow-container{
    width:400px;
    overflow-x:hidden;
}
.input-container{
    width: 200px;
    height: 35px;
    margin-top:5%;
}
.input-container:first-child{
    margin-top:0;
}
.snippet-container{
    width: 100%;
    position:relative;
    overflow: hidden;
}
input {
    background: gray;
    border: 0px;
    padding: 5px 10px;
    height: 25px;
    outline: none;
    color: #fff;
    float: left;
    width:230px;
    font-family: 'Lato', sans-serif;
    font-weight:300;
    font-size: 15px;
    letter-spacing: 0.4px;
}
.remove{
    background: orange;
    border: 0px;
    color: white;
    border-radius: 100px;
    position: absolute;
    top: 2px;
    margin-left: 5px;
}

/* FORM CSS */
form{
    margin-top:5%;
}
form button{
    font-family: 'Lato', sans-serif;
    float: left;
    color: white;
    background: #0D98BA;
    padding: 5px 10px;
    border-radius:5px;
    cursor:pointer;
    font-weight:300;
    outline:none;
    border:0px;
    font-size:15px;
    margin:0;
    margin-top:5%;
}

/* CLIPBOARD CSS */
.hover-container {
    position: relative;
    top: 5px;
    left: -120px;
    float: left;
    width:120px;
}
div.copy-button, div.edit-button {
    font-family: 'Lato', sans-serif;
    float: left;
    color: white;
    background: #0D98BA;
    padding: 1px 5px 5px;
    border-radius:5px;
    cursor:pointer;
    opacity:0.9;
    font-weight:300;
    margin-left:5px;
}

div.hover-container.ng-enter,
div.hover-container.ng-leave,
div.hover-container.ng-move {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

/* ending enter and move styling
   (this is what the element will animate from */
div.hover-container.ng-enter,
div.hover-container.ng-move {
    opacity:0;
}

/* ending enter and move styling
   (this is what the element will animate towards */
div.hover-container.ng-enter.ng-enter-active,
div.hover-container.ng-move.ng-move-active {
    opacity:1;
}

/* starting leave animation */
div.hover-container.ng-leave {
    opacity:1;
}

/* ending leave animation */
div.hover-container.ng-leave.ng-leave-active {
    opacity:0;
}
