<!DOCTYPE html>
<html data-ng-app="libApp" ng-csp>

<head>
    <title>Library Directory</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <div>
        <div ng-controller="mainDirectory">

            <div id="selection-panel">
                <div class="selection-container">
                    <select ng-model="currentDir" ng-options="nav.name for nav in navigation" class="select">
                    	<option></option>
                    </select>
                </div>

                <div class="selection-container">
                    <select ng-model="jquery[$index]" ng-options="version for version in jquery" ng-if="jqueryBool" class="select">
                        <option></option>
                    </select>
                </div>

                <div class="selection-container">
                    <select ng-model="angular[$index]" ng-options="version for version in angular" ng-if="angularBool" class="select">
                        <option></option>
                    </select>
                </div>
            </div>

            <textarea ng-if="currentDir" id="copy-box" class="select">{{currentDir.pre}}{{jquery[$index]}}{{angular[$index]}}{{currentDir.close}}</textarea>

            <button id="copy-button" class="btn btn-primary" ng-if="jquery[$index] || angular[$index]">Copy</button>

        </div>

    </div>
   	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script src="app.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="main.js"></script>
</body>

</html>