<!DOCTYPE html>
<html data-ng-app="libApp" ng-csp>

<head>
    <title>Library Directory</title>
    <style>
    body{
        min-width:300px;
        text-align:center;
    }
    textarea{
        width:350px;
        height:80px;
    }
    #selection-panel{
        margin-bottom:15px;
    }
    </style>
</head>

<body>
    <div>
        <div ng-controller="mainDirectory">

            <div id="selection-panel">

                <select ng-model="currentDir" ng-options="nav.name for nav in navigation">
                	<option></option>
                </select>

                <select ng-model="jquery[$index]" ng-options="version for version in jquery" ng-if="jqueryBool">
                    <option></option>
                </select>

                <select ng-model="angular[$index]" ng-options="version for version in angular" ng-if="angularBool">
                    <option></option>
                </select>

            </div>

            <textarea ng-if="currentDir" id="copy-box">{{currentDir.pre}}{{jquery[$index]}}{{angular[$index]}}{{currentDir.close}}</textarea>

            <button id="copy-button" ng-if="jquery[$index] || angular[$index]">Copy</button>

        </div>

    </div>
   	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script src="app.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="main.js"></script>
</body>

</html>